.unarchive-button {
    color: #545454 !important;
    border: 1px solid #c5c5c5 !important;
    font-size: 0.75rem !important;
    font-weight: 700 !important;
    text-transform: capitalize !important;
    padding: 12px !important;
    border-radius: 6px !important;
    text-align: left !important;
}

.unarchive-button:hover {
    color: #333333 !important;
}
