.divider-container {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.divider-line {
    flex-grow: 1;
    opacity: 0.5;
}

.divider-text {
    margin: 0 12px;
    white-space: nowrap;
    color: #a8a8a8;
    font-size: 0.65rem;
    font-weight: 700;
    text-transform: uppercase;
}
